<div class="mui-panel mui-text-center">
  <div class="mui-text-display3 mui-text-black">
    CheerTube
  </div>
  <div class="mui-text-headline mui-text-black">
    説明
  </div>
</div>

<div class="mui-container mui-text-center">
  <form action="/songs/result" class="mui-form-inline" method="POST">
    <input type="text" class="mui-form-control" placeholder="キーワード">
    <button class="mui-btn mui-btn-default">検索</button>
  </form>
</div>
